body {
    background-color: black;
    color: gainsboro;
}

.container {
    /* margin-left: 60px; */
    margin-top: 10px
}


.cornerButton {
    margin-top: 10px;
    text-align: right;
}

.detailCard {
    margin-top: 20px;
}



.caroussel-info {
    color: red;
}






/* .navbar-style{
    background-color: #381111;
    color: gainsboro;
    border: 3px solid gainsboro;
}
 */

/* CARDS */
.entity-card {
    border: 3px solid gainsboro;
    height: 100%;
    background-color: #381111;
    color: gainsboro;
}
.details {
    padding: 10px;
}

/* IMG AUTO SQUARE */
.square-container {
    /* width: 213px;   */
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* CUSTOM LINKS */
.custom-link {
    color: gainsboro;
    text-decoration: none;
    font-weight: bold
}

.custom-link:hover {
    color: crimson;
    text-decoration: underline;
    font: bold
}


/* STAR RATING */
.star-rating {
    direction: rtl;
    display: inline-block;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 24px;
    padding: 0px 2px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
    color: #ffc107;
}